# Ignore Maven build folder except the final JAR
target/*
!target/*.jar

# Maven wrapper and cache
.mvn/
.m2/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.sts4/
.vscode/

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
